@supports (display: grid)
{
    @media screen
    {
        body
        {
        background-image:url('./DayBackground.jpg'); 
        background-size:cover;
        }

        .text
        {
            color:black;
            font-family: 'Times New Roman', Times, serif;
        }

        nav
        {
            background-color:rgba(11, 87, 252, 0.356);
            padding:10px;
        }

        nav ul 
        {
            margin: 0;
            padding: 0;
            display:inline;
            color:black;
        }

        nav li 
        {
            display: inline-block;
            margin-right: 10px;
        }

        nav ul li
        {
            color:black;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-btn {
            background-color: rgba(11, 87, 252, 0.356);
            color: aqua;
            padding: 10px;
            font-size: 14px;
            border: none;
        }

        .dropdown-content 
        {
            display: none;
            position: absolute;
            background-color: rgba(11, 87, 252, 0.356);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a 
        {
            color: aqua;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover 
        {
            background-color: rgba(11, 87, 252, 0.473);
        }

        .dropdown:hover .dropdown-content 
        {
            display: block;
        }

        h1, h2
        {
        color:black;
        text-align: center;
        }

        h3 
        {
        color: black;
        padding: 5px 10px 5px 10px;
        } 

        h4
        {
        color:black;
        }

        p
        {
        color:black; 
        padding: 5px 10px 5px 10px;
        text-align: center;
        }

        a
        {
            color:aqua;
        }

        .disclaimer
        {
            font-size: small;
            color:black;
            font-family:'Times New Roman', Times, serif;
        }

        #signup label, #signup input, #signup
        {
            text-align: center;
            position: relative;
        }

        #signup input[type="text"], #signup input[type="email"], #signup textarea
        {
            background-color: rgba(11, 87, 252, 0.356);
            color: black;
        }
    }
}
